@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --blue: #0055b3;
  --red: #ff0000;
  --black: #1b1e23;
  --gold: #fcc201;
  --background-color: #e6e6e6;
  --duration: 1s;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: 'Quicksand', sans-serif;
  --font-heading: 'Bebas Neue', cursive;
  --font-grande: 'Bebas Neue', cursive;
  --font-large: 36px;
  --font-medium: 30px;
  --font-text: 18px;
  --font-large-m: 21px;
  --font-medium-m: 18px;
  --font-text-m: 16px;
  --line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin:0px;
}

html {
  height: 100vh;
  background-color: var(--background-color);
  overflow: hidden;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
}

.background_animat {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#home_map{
  position: absolute;
  left:0px;
  top: 0px;
  height: 2200px;
  -webkit-animation: home 30s;
  -moz-animation: home 30s;
  animation: home 30s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 30px 30px;
}

@-moz-keyframes turn {
  0% {
      -moz-transform: translate(-4300px, -300px);
      opacity: 0;
  }
 5% {
   opacity: 1;
 }

 27% {
   opacity: 1;
 }

 32% {
   -moz-transform: translate(-4100px, -700px);
   opacity: 0;
 }

 33% {
   -moz-transform: translate(-1100px, -800px);
   opacity: 0;
 }

 38% {
   opacity: 1;
 }

 60% {
   opacity: 1;
 }

 65% {
   -moz-transform: translate(-1600px, -1100px);
   opacity: 0;
 }

 66% {
   -moz-transform: translate(-1500, -100px);
   opacity: 0;
 }

 71% {
   opacity: 1;
 }

 95% {
   opacity: 1;
 }

 100% {
   -moz-transform: translate(-1000px, -500px);
   opacity: 0;
 }}
@-webkit-keyframes turn {
  0% {
      -webkit-transform: translate(-4300px, -300px);
      opacity: 0;
  }
 5% {
   opacity: 1;
 }

 27% {
   opacity: 1;
 }

 32% {
   -webkit-transform: translate(-4100px, -700px);
   opacity: 0;
 }

 33% {
   -webkit-transform: translate(-1100px, -800px);
   opacity: 0;
 }

 38% {
   opacity: 1;
 }

 60% {
   opacity: 1;
 }

 65% {
   -webkit-transform: translate(-1600px, -1100px);
   opacity: 0;
 }

 66% {
   -webkit-transform: translate(-1500px, -100px);
   opacity: 0;
 }

 71% {
   opacity: 1;
 }

 95% {
   opacity: 1;
 }

 100% {
   -webkit-transform: translate(-1000px, -500px);
   opacity: 0;
 }
}
@keyframes home {
  0% {
      -webkit-transform: translate(-4300px, -300px);
      transform: translate(-4300px, -300px);
      opacity: 0;
  }
 5% {
   opacity: 1;
 }

 27% {
   opacity: 1;
 }

 32% {
   -webkit-transform: translate(-4100px, -700px);
   transform: translate(-4100px, -700px);
   opacity: 0;
 }

 33% {
   -webkit-transform: translate(-1100px, -800px);
   transform: translate(-1100px, -800px);
   opacity: 0;
 }

 38% {
   opacity: 1;
 }

 60% {
   opacity: 1;
 }

 65% {
   -webkit-transform: translate(-1600px, -1100px);
   transform: translate(-1600px, -1100px);
   opacity: 0;
 }

 66% {
   -webkit-transform: translate(-1500px, -100px);
   transform: translate(-1500, -100px);
   opacity: 0;
 }

 71% {
   opacity: 1;
 }

 95% {
   opacity: 1;
 }

 100% {
   -webkit-transform: translate(-1000px, -500px);
   transform: translate(-1000px, -500px);
   opacity: 0;
 }

}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--black);
  background-image: url(src/scacchiera.svg);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: absolute;
  bottom: 10%;
  left: 9%;
  width: 50%;
  text-align: left;

  @media screen and (max-width:1024px) {
    left: 0px;
    width: 100%;
    text-align: center;
    height: fit-content;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @media screen and (max-width:768px) {

  }

  @media screen and (max-width:480px) {

  }

  @media screen
  and (max-device-width: 1023px)
  and (orientation: landscape) {
  }
}

.overlay-content a {
  text-decoration: none;
  font-family: var(--font-grande);
  font-size: 48px;
  font-weight: 300;
  color: var(--background-color);
  opacity: 0.7;
  display: block;
  transition: 400ms ease-out;

  @media screen and (max-width:1024px) {
    width: 100%;
    height: auto;
    text-align: center;
    opacity: 1;
    font-size: 60px;
    color: var(--black);
    font-family: var(--font-grande);
    padding: 4vh 0px 3vh 0px;

    &:nth-child(1) {
      background-image: url(src/mappe_tel.png);
      background-size: cover;
      background-position: center center;
      margin-bottom: 2%;
    }

    &:nth-child(2) {
      background-image: url(src/sea_tel.png);
      background-size: cover;
      background-position: center center;
      margin-bottom: 2%;
    }

    &:nth-child(3) {
      background-image: url(src/raftel_tel.png);
      background-size: cover;
      background-position: center center;
    }
  }

  @media screen and (max-width:768px) {
    padding: 4vh 0px 3vh 0px;

    &:nth-child(1) {
      margin-bottom: 3%;
    }

    &:nth-child(2) {
      margin-bottom: 3%;
    }
  }

  @media screen and (max-width:480px) {
    padding: 4vh 0px 3vh 0px;
    font-size: 45px;
  }

  @media screen and (max-width:320px) {
    padding: 2vh 0px 1vh 0px;
    font-size: 45px;
  }

  @media screen
  and (max-device-width: 1023px)
  and (orientation: landscape) {
    padding: 2vh 0px 1vh 0px;
    font-size: 45px;
    width: 140%;
    transform: rotate(15deg) translateX(-20vw) translateY(10vh);
    transform-origin: center center;
  }

  &:hover {
    font-size: 48px;
    opacity: 1;
    color: var(--gold);

    @media screen and (max-width:1024px) {
       color: var(--black);
       font-size: 60px;
    }

  }

  &:focus {
    opacity: 1;

    @media screen and (max-width:1024px) {
        font-size: 60px;
    }
  }
}

.overlay img{
  position: absolute;
  right: 0px;
  transition: opacity 800ms ease-out;
}

#img_map {
  transform: translateX(-30vw);
  opacity: 0;
  max-width: 55%;
  top: 0px;
}

#img_sea {
  transform: translateX(-15vw);
  opacity: 0;
  max-height: 90%;
  top: 0px;
}

#img_island {
  opacity: 0;
  bottom: 0px;
  max-width: 50%;
}

.big_text {
  position: absolute;
  margin: 0px;
  bottom: 50px;
  right:-20px;
  line-height: 0;
  color: var(--background-color);
  font-size: 450px;
  font-family: var(--font-grande);
  transition: opacity 800ms var(--ease);
}

#text_map, #text_sea, #text_island {
  opacity: 0;

  @media screen and (max-width:1024px) {
    display: none;
  }
}

.hamburger {
  position: absolute;
  left: 9%;
  bottom: 10%;
  width:60px;
  height: 60px;
  fill: var(--black);
    animation-play-state: paused;
    cursor: pointer;

    @media screen and (max-width:1024px) {
      right: 9%;
      top: 5%;
      left: auto;
    }

    @media screen and (max-width:768px) {
      right: 5%;
      top: 5%;
      left: auto;
    }

  @media screen and (max-width:480px) {
    right: 5%;
    top: 5%;
    left: auto;
  }
}

.hamburger:checked {
  ~ .overlay {
    transition-duration: 0s;
    transform: translateX(0);
}
&:after {
     animation: nav-bg 1s var(--ease) forwards;
   }
}

@keyframes nav-bg {
  from { transform: translateX(-100%) skewX(-15deg) }
  to { transform: translateX(0) }
}

.close-icon {
  width:60px;
  height: 60px;
  padding: 0px;
}

 .closebtn {
  position: absolute;
  right: 9%;
  top: 10%;
  fill: var(--background-color);
  opacity: 0.7;
  transition: 400ms ease-out;
  padding: 0px;

  @media screen and (max-width:1024px) {
    right: 9%;
    top: 5%;
    left: auto;
    opacity: 1;
  }

  @media screen and (max-width:768px) {
    right: 5%;
    top: 5%;
    left: auto;
    opacity: 1;
  }

  @media screen and (max-width:480px) {
    right: 5%;
    top: 5%;
    left: auto;
    opacity: 1;
  }

  &:hover {
    font-size: var(--font-large);
    opacity: 1;
    color: var(--gold)
  }

  &:focus {
    font-size: var(--font-large);
    opacity: 1;
  }
}

.main-content {
  position: absolute;
  width: 33%;
  height: 100vh;
  margin: 0px;
  left: 62%;
  background-color: white;
  background-image: url(src/back_menu.svg);
  background-position: right bottom;
  background-size: cover;
  border-style: solid;
  border-width: 0px 3px 0px 3px;
  border-color: var(--gold);

  @media screen and (max-width:1024px) {
    width: 100%;
    height: 50%;
    height: fit-content;
    left: 0%;
    bottom: 10%;
    border-width: 3px 0px 3px 0px;
  }

  @media screen and (max-width:768px) {
    width: 100%;
    height: fit-content;
    left: 0%;
    bottom: 10%;
  }

  @media screen and (max-width:480px) {
    width: 100%;
    height: fit-content;
    left: 0%;
    bottom: 10%;
  }

  @media screen and (max-width:320px) {
    bottom: 10%;
  }

  @media screen
  and (max-device-width: 1023px)
  and (orientation: landscape) {
    width: 50%;
    height: 100vh;
    left: 5%;
    bottom: 0px;
    border-width: 0px 3px 0px 3px;
  }
}

.titolo {
  height: fit-content;
  margin: 20% 5% 10% 5%;
  width: 90%;

  @media screen and (max-width:1024px) {
    margin: 4% 9% 4% 9%;
  }

  @media screen and (max-width:768px) {
    margin: 5% 5% 5% 5%;
  }

  @media screen and (max-width:480px) {
    margin: 10% 5% 10% 5%;
  }

  @media screen
  and (max-device-width: 1023px)
  and (orientation: landscape) {
    margin: 9% 4% 9% 4%;
  }
}

.op {
  font-family: var(--font-grande);
  font-size: 50px;
  line-height: 1.2;
  opacity: 0.7;
  color: var(--black);

  @media screen and (max-width:1024px) {
    font-size: 42px;
  }

  @media screen and (max-width:768px) {
    font-size: 34px;
  }

  @media screen and (max-width:480px) {
    font-size: 32px;
  }

  @media screen and (max-width:320px) {
    font-size: 24px;
  }

  @media screen
  and (max-device-width: 1023px)
  and (orientation: landscape) {
    font-size: 24px;
  }

}

.wt {
  font-family: var(--font-grande);
  font-size: 140px;
  line-height: 0.8;
  color: var(--black);

  @media screen and (max-width:1024px) {
    font-size: 120px;
  }

  @media screen and (max-width:768px) {
    font-size: 104px;
  }

  @media screen and (max-width:480px) {
    font-size: 92px;
  }

  @media screen and (max-width:320px) {
    font-size: 84px;
  }

  @media screen
  and (max-device-width: 1023px)
  and (orientation: landscape) {
    font-size: 84px;
  }
}

.stacco {
  height: 3px;
  border-radius: 2px;
  background-color: var(--gold);
  margin: 30px 0px 25px 0px;

  @media screen and (max-width:1024px) {
    margin: 30px 0px 25px 0px;
    width: 60%;
  }

  @media screen and (max-width:768px) {
    margin: 20px 0px 15px 0px;
    width: 60%;
  }

  @media screen and (max-width:480px) {
    margin: 15px 0px 10px 0px;
    width: 50%;
  }

  @media screen and (max-width:320px) {
    margin: 10px 0px 5px 0px;
  }

  @media screen
  and (max-device-width: 1023px)
  and (orientation: landscape) {
    margin: 10px 0px 5px 0px;
  }
}

#closeturn,
#openturn {
  @media screen and (max-width: 1024px) {
    -webkit-animation: turn 10s infinite;
    -moz-animation: turn 10s infinite;
    animation: turn 10s infinite;
    transform-origin: 30px 30px;
  }
}

svg:hover #closeturn,
svg:hover #openturn, {
  -webkit-animation: turn 10s;
  -moz-animation: turn 10s;
  animation: turn 10s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: var(--ease);
  transform-origin: 30px 30px;

  @media screen and (max-width: 1024px) {
    animation-play-state: paused;
  }
}

svg #openturn {
  opacity: 1;
}

@-moz-keyframes turn {
  0% {
      -moz-transform: rotate(0deg);
      -moz-transform:rotate(0deg);
  }
  10% {
      -moz-transform: rotate(360deg);
      -moz-transform:rotate(360deg);
  }
    100% {
        -moz-transform: rotate(360deg);
        -moz-transform:rotate(360deg);
    }
}
@-webkit-keyframes turn {
  0% {
      -webkit-transform: rotate(0deg);
  }
  10% {
      -webkit-transform: rotate(360deg);
  }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes turn {
  0% {
      -webkit-transform: rotate(0deg);
      transform:rotate(0deg);
  }
  10% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

h2 {
  font-family: var(--font-heading);
  font-size: 128px;
  margin: 0px;
  color: var(--gold);
  font-weight: 100;
}
