:root {
  --blue: #0055b3;
  --red: #ff0000;
  --black: #1b1e23;
  --gold: #fcc201;
  --background-color: #e6e6e6;
  --duration: 1s;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: 'Quicksand', sans-serif;
  --font-heading: 'Bebas Neue', cursive;
  --font-grande: 'Bebas Neue', cursive;
  --font-large: 36px;
  --font-medium: 30px;
  --font-text: 18px;
  --font-large-m: 21px;
  --font-medium-m: 18px;
  --font-text-m: 16px;
  --line-height: 1.5;
}

html {
  background: url(src/grid.svg);
  background-size: cover;
  background-position: center;
  touch-action: auto;
  overflow: scroll;
  background-color: var(--background-color);
}

/*
.lettere {
font-family: var(--font-grande);
font-size: 30px;
font-weight: 300;
margin-top: 15px;

@media screen and (max-width:1024px) and (orientation: portrait) {
font-size: 30px;
}

@media screen and (max-width:768px) and (orientation: portrait) {
font-size: 30px;
}

@media screen and (max-width:480px) and (orientation: portrait) {
font-size: 24px;
}

@media screen and (max-width:320px) and (orientation: portrait) {
font-size: 24px;
}

@media screen
and (max-device-width: 1400px)
and (min-device-width: 1024px)
and (orientation: landscape) {
font-size: 36px;
}

@media screen
and (max-device-width: 1023px)
and (orientation: landscape) {
font-size: 24px;
}
}
*/
.content_page {
  position: absolute;
  width: calc(82% - 90px);
  height: fit-content;
  text-align: left;
  top: 5%;
  left: calc(9% + 90px);

  .pagetitle {
 font-size: 120px;
 opacity: 0.8;
 color: var(--gold);
 font-family: var(--font-grande);
 line-height: 1;
 margin-bottom: 20px;
 margin-top: 5%;
  }

  .lettere {
  font-family: var(--font-grande);
  font-size: 30px;
  font-weight: 300;
  margin-top: 15px;
}

  p {
    width: 60%;
    font-size: 18px;
  }

  ul {
    padding: 0px 0px 0px 20px;

  }

  li {
    list-style: none;
    color: var(--gold);
  }

  a {
    text-decoration: none;
    color: var(--black);
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    transition: all 0.3s ease-out;
    padding-left: 40px;

    &:hover {
      color: var(--gold);
    }
  }

  @media screen and (max-width:1024px) and (orientation: portrait) {
      top: 5%;
      left: 9%;
      font-size: 18px;


      p {
        width: 100%;
        font-size: 18px;
      }

      a {
        font-size: 18px;
      }

  }


  @media screen and (max-width:480px) and (orientation: portrait) {
    width: 90%;
    top: 5%;
    left: 5%;
    font-size: 16px;

    .pagetitle {
    font-size: 60px;
    opacity: 0.8;
    color: var(--gold);
    font-family: var(--font-grande);
    margin-top: 0%;
    }

    p {
      font-size: 16px;
    }

    ul {
      padding: 0px 0px 0px 0px;
    }

    .lettere {
      font-size: 24px;
    }

    a {
      font-size: 16px;
    }
  }

  @media screen
  and (max-device-width: 1400px)
  and (min-device-width: 1024px)
  and (orientation: landscape) {
      width: calc(82% - 90px);
      top: 5%;
      left: calc(9% + 90px);

      .lettere {
        font-size: 30px;
      }

    a {
      font-size: 18px;
    }

  }

  @media screen
  and (max-device-width: 1023px)
  and (orientation: landscape) {
    .pagetitle {
   font-size: 60px;
   margin-bottom: 20px;
   margin-top: 5%;
    }

    p {
      width: 100%;
      font-size: 18px;
    }

    ul {
      padding: 0px 0px 0px 20px;

    }

    li {
      list-style: none;
      color: var(--gold);
    }

    .lettere {
      font-size: 24px;
    }

    a {
      font-size: 18px;
    }

  }

}

footer {
  height: 180px;

  .btt {
    position: absolute;
    bottom: calc(5% - 30px);
    font-size: 18px;
    color: var(--gold);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    width: fit-content;

    &:hover {
      transform: translate(0px, -10px);
    }
}
}
