//CODICE PER IL MENU FUORI DALLA HOME

.overlay-content a {

  @media screen and (max-width:1024px) {

    &:nth-child(1) {
      background-image: url(src/home_tel.png);

    }
  }
}

#img_home {
  transform: translateX(-30vw);
  opacity: 0;
  max-width: 55%;
  top: 0px;
}

#text_home {
  opacity: 0;

  @media screen and (max-width:1024px) {
    display: none;
  }
}

//FINE//
