:root {
  --blue: #0055b3;
  --red: #ff0000;
  --black: #1b1e23;
  --gold: #fcc201;
  --background-color: #e6e6e6;
  --duration: 1s;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: 'Quicksand', sans-serif;
  --font-heading: 'Bebas Neue', cursive;
  --font-grande: 'Bebas Neue', cursive;
  --font-large: 36px;
  --font-medium: 30px;
  --font-text: 18px;
  --font-large-m: 21px;
  --font-medium-m: 18px;
  --font-text-m: 16px;
  --line-height: 1.5;
}

.overlay-content a {

  @media screen and (max-width:1024px) {

    &:nth-child(1) {
      background-image: url(src/home_tel.png);

    }
  }
}

.seas_list {
  position: absolute;
  width: 100%;
  height: fit-content;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  ul {
    padding: 0px;

  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--black);
    font-family: var(--font-grande);
    font-size: 42px;
    line-height: 1.7;

    &:hover {
      font-size: 48px;
      line-height: 1;
      transition: all 800ms ease-out;
    }
  }

  @media screen and (max-width:1024px) {
    a:hover {
      font-size: 42px;
      line-height: 1.7;
    }
  }


  @media screen and (max-width:480px) {

    a {
      font-size: 36px;
      line-height: 1.7;
    }

  }

  @media screen and (max-width:320px) {
    a {
      font-size: 30px;
      line-height: 1.7;
    }

  }

  @media screen
  and (max-device-width: 1023px)
  and (orientation: landscape) {
    & {
      width: 70%;
    }
    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
    a {
      font-size: 30px;
      line-height: 1.7;
    }
    li:nth-child(6) {
      padding-top: 65px;

    }

  }

}


.animated_background {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;


}

.filter {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  opacity: 0.6;

  /*.title {
    position: absolute;
    top: 5%;
    left: 5%;
    color: var(--gold);
    font-size: 60px;;
    font-family: var(--font-grande);
    opacity: 0.3;
    line-height: 0;
  }*/
}

#back_s,
#wind_s,
#over_s {
  position: absolute;
  right:-300px;
  top: -700px;
  height: 2000px;
  fill-opacity: 0.6;

  @media screen and (max-width:1024px) {
    height: 2000px;
    top: -200px;
    left: -350px;
    display: none;
  }

  @media screen and (max-width:480px) {
height: 1000px;
  }

  @media screen and (max-width:320px) {
    top: -200px;
    left: -350px;
  }

  @media screen
  and (max-device-width: 1366px)
  and (orientation: landscape) {
  }

}

#back_s_m {
  display: none;

  @media screen and (max-width:1024px) {
    height: 2000px;
    top: -200px;
    left: -350px;
    display: block;
  }

  @media screen and (max-width:480px) {
    height: 1000px;
    left: -550px;
  }

  @media screen
  and (max-device-width: 1023px)
  and (orientation: landscape) {

  }

}

#wind_s_m {
  position: absolute;
  display: none;

  @media screen and (max-width:1024px) {
    display: block;
    width: 900px;
    bottom: -370px;
    right: -240px;
    animation: rotation 15s linear infinite;
  }

  @media screen and (max-width:768px) {
    width: 800px;
    bottom: -370px;
    right: -240px;
  }

  @media screen and (max-width:480px) {
    width: 600px;
    bottom: -270px;
    right: -240px;
  }

  @media screen
  and (max-device-width: 1600px)
  and (orientation: landscape){
  }

}

#wind_s {
  transform-origin: 1333px 1333px;
  animation: rotation 15s linear infinite;
}

  #over_s{
    transform-origin: 50% 50%;
   animation: overmov 15s linear infinite;
   display: block;
  }

@-moz-keyframes rotation {
  0% {
      -moz-transform: rotate(0deg);
      -moz-transform:rotate(0deg);
  }
  100% {
      -moz-transform: rotate(360deg);
      -moz-transform:rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
      -webkit-transform: rotate(0deg);
      transform:rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}
/*
@-moz-keyframes overmov {
  0% {
      -moz-transform: rotate(0deg);
      -moz-transform:rotate(0deg);
  }
  100% {
      -moz-transform: rotate(360deg);
      -moz-transform:rotate(360deg);
  }
}
@-webkit-keyframes overmov {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}*/
@keyframes overmov {
  0% {
      -webkit-transform: rotate(0deg);
      transform:rotate(0deg);
  }
  15%{
    -webkit-transform: rotate(160deg);
    transform:rotate(160deg);
  }
  75%{
    -webkit-transform: rotate(80deg);
    transform:rotate(80deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}
/*
@media screen and (max-width:1024px) {

}

@media screen and (max-width:768px) {

}

@media screen and (max-width:480px) {

}

@media screen and (max-width:320px) {

}

@media screen
and (max-device-width: 1023px)
and (orientation: landscape) {

}

*/
